body.hide{
    overflow-y: hidden;
}

header {
    min-width: 300px;
    width: 100%;
    margin: 32px auto;

    position: relative;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.logotipo {
    color: var(--red-primary);
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: bold;
    font-style: italic;

    margin-top: 32px;
}

.logotipo span {
    color: #333;
}

.btn-menu {
    width: 36px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 14px;
    cursor: pointer;
    overflow: hidden;
}

.btn-menu .one, .btn-menu .two, .btn-menu .three {
    width: 25px;
    height: 4px;
    background: var(--red-primary);
    border-radius: 12px;
    transition: all 500ms ease-in-out;
}

.btn-menu .one {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-menu .two {
    position: absolute;
    top: 5px;
    right: 10px;
}

.btn-menu .three {
    position: absolute;
    top: 16px;
    right: 10px;
}

.btn-menu.action {
    top: 32px;
}

.btn-menu.action .one {
    transform: translateX(50px);
    background: transparent;
    right: 20px;
}

.btn-menu.action .two {
    transform: rotate(45deg) translate(13px, 0px);
    right: 20px;
}

.btn-menu.action .three {
    transform: rotate(-45deg) translate(7px, 4px);
    right: 20px;
}

.navbar.show {
    background-color: #333;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 400ms ease-in-out;
}

.navbar.show .logotipo {
    display: none;
}

.navbar.show .menu .navbar-items, li {
    text-align: center;
}

.navbar.show .menu .navbar-items li a {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
    margin-bottom: 12px;
    transition: all 400ms ease-in-out;
}

.navbar.show .menu .navbar-items li a:hover {
    border-radius: 8px;
    border: 2px solid var(--red-primary);
    color: var(--red-primary);
    padding: 0 16px;
    transition: all 400ms ease-in-out;
}

.navbar.show .menu .navbar-items .btn-login {
    display: inline-block;
    margin-top: 16px;
    background-color: var(--red-primary);
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
}

.navbar.show .menu .navbar-items .btn-login:hover {
    border: 2px solid var(--red-primary);
    border-radius: 8px;
    color: var(--red-primary);
    background-color: transparent;
    transition: all 400ms ease-in-out;
}

/* wrapper */
.wrapper {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.wrapper-container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper-image-container {
    margin-bottom: 5%;
    animation: left 1s ease-in .5s;
}

.wrapper-image-container img {
    width: 80%;
}

.wrapper-content {
    margin: 8% 0;
    animation: right 1s ease-in .5s;
}

.wrapper-content h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #333;
    width: 100%;
    margin: 0 auto;
}

.wrapper-content h2 span {
    display: block;
    color: var(--red-primary);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
}

.wrapper-content .btn-solicitar {
    display: inline-block;
    background-color: var(--red-primary);
    color: #fff;
    font-size: 1.2rem;
    margin: 8% 0;
    padding: 5% 8%;
    border-radius: 8px;
    transition: background-color 200ms ease-in-out;
}

.wrapper-content .btn-solicitar:hover {
    background-color: rgba(192, 4, 17, 0.911);
}