@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --red-primary: #D6000D;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

main {
    max-width: 300px;
    margin: 0 auto;
}

.home-page {
    width: 80%;
    margin: 18% auto 8%;
}

nav {
    text-align: center;
    padding: 12% 0;
}

nav .logotipo {
    color: #D6000D;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5rem;
    letter-spacing: 2px;
}

nav .logotipo span {
    color: #111;
}

nav .navbar {
    margin-top: 12%;
}

nav .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navbar ul li {
    margin-right: 3%;
}

nav .navbar ul li:last-child {
    margin-right: 0;
}

nav .navbar ul li a {
    color: #333;
    font-size: 1.2rem;
}

nav .navbar ul li a:hover {
    background-color: #333;
    border-radius: 8px;
    padding: 8% 12%;
    color: #fff;
    transition: padding 200ms ease-in-out;
}

section img {
    width: 100%;
}