<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Henrique">
    <meta name="keywords" content="como criar site, sites incríveis, site de loja virtual, como montar um site, fazer um site, montando um site para minha loja, loja virtual">
    <meta name="description" content="Amamos criar soluções e entregar sites incríveis">
    <meta name="robots" content="index, follow">

    <!-- estilização css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <!-- material icon  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/fonts/fontawesome-webfont.svg">

    <!-- favicon codar -->
    <link rel="shortcut icon" href="../assets/coding_.png" type="image/x-icon">

    <title>Codar.</title>
</head>
<body>
    <main>
        <header class="page-home">
            <nav class="nav-items">
                <a href="#" class="logotipo">Codar<span>.</span></a>
                
                <nav class="menu">
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Contato</a></li>

                        <a href="#" class="btn-login">Login</a>
                    </ul>
                </nav>
            </nav>
        </header>

        <section class="wrapper">
            <div class="wrapper-container">
                <figure class="wrapper-image-container">
                    <img src="../assets/video_call.png" alt="">
                </figure>

                <div class="wrapper-content">
                    <h2>
                        Alavanque seu negócio com um 
                        <span>Website incrível</span>
                    </h2>

                    <a href="#" class="btn-solicitar">Solicitar orçamento</a>
                </div>
            </div>
        </section>
        
        <section class="services">
            <div class="service-container">
                <figure class="service-image-container">
                    <img src="../assets/coding_.png" alt="">
                </figure>

                <ul class="service-content">
                    <li><span class="material-icons">check_circle</span>Domínio personalizado</li>
                    <li><span class="material-icons">check_circle</span>Hospedagem</li>
                    <li><span class="material-icons">check_circle</span>Site responsivo</li>
                    <li><span class="material-icons">check_circle</span>Redes sociais</li>
                    <li><span class="material-icons">check_circle</span>Chat online</li>
                    <li><span class="material-icons">check_circle</span>Blog integrado</li>
                </ul>
            </div>
        </section>

        <section class="equipe-on">
            <h3>Nossa equipe está à disposição!</h3>

            <div class="equipe-on-contato">
                <input type="number" name="celular" placeholder="Celular">

                <button class="btn-liga">Ligamos pra você</button>
            </div>
        </section>

        <section class="cards">
            <div class="card">
                <figure class="card-image-perfil"></figure>

                <div class="card-content">
                    <p class="description">
                        Já tive experiências com outras 4 empresas da área e a Codar é sem sombra de dúvidas superior em todos os aspectos.
                    </p>

                    <h2 class="author">Pedro Ferreira</h2>
                    <h3 class="empresa">Construtora Minari</h3>
                </div>
            </div>

            <div class="card">
                <figure class="card-image-perfil"></figure>

                <div class="card-content">
                    <p class="description">
                        Processos bem simples e criação de um site exatamente como a minha escola queria!
                    </p>
                    
                    <h2 class="author">Maria Rita</h2>
                    <h3 class="empresa">Escola Criança Feliz</h3>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <header class="header-footer">
                <a href="#" class="logotipo-white">Codar.</a>
                <p>Criamos websites incríveis</p>
            </header>

            <nav class="footer-content">
                <div class="footer-sobre">
                    <h2>Sobre</h2>

                    <p>
                        Amamos criar soluções
                        e entregar sites incríveis
                    </p>
                </div>

                <div class="footer-contato">
                    <h2>Contato</h2>
                    <p>
                        123 Av. Manjar - Nárnia
                        <span class="telefone">+55 96 2321-3131</span>
                        <span class="email">contato@codar.com</span>
                    </p>
                </div>
                
                <ul class="footer-redes">
                    <h2>Redes sociais</h2>
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>