<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codar.</title>

    <!-- estilização css -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- material icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <header class="home-page">
            <nav>
                <a href="#" class="logotipo">Codar<span>.</span></a>

                <div class="navbar">
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section>
            <img src="../assets/video_call.png" alt="">
        </section>
        
    </main>
</body>
</html>